.light-mode {
    --primary-light-color: #0d3b50;
    /* --primary-dark-color: #ef7524; */
    --primary-dark-color: #f5f5f5;
    --secondary-color:  #87c9b8;
  }

h1 {
    font-size: 26pt;
    background: linear-gradient(45deg, var(--primary-light-color), var(--secondary-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.btn-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.btn {
    padding: 10px;
    margin: 0 10px;
    margin-top: 2rem;
    background: var(--secondary-color);
    border-radius: .25rem;
    font-weight: bold;
    color: #f5f5f5;
}

.btn:hover{
    cursor: pointer;
    color: var(--primary-dark-color);
    background: var(--primary-light-color);
    font-weight: bold;
}