.lightMode {
    --primary-light-color: #0d3b50;
    /* --primary-dark-color: #ef7524; */
    --primary-dark-color: #f5f5f5;
    --secondary-color:  #87c9b8;
  }

.adminAside h1 {
    font-size: 20pt;
    background: linear-gradient(45deg, var(--primary-light-color), var(--secondary-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.adminMain h1 {
    background: linear-gradient(45deg, var(--primary-light-color), var(--secondary-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.btnList{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.btn {
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-top: 2rem;
    background: var(--secondary-color);
    border-radius: .5rem;
    font-weight: bold;
    color: #f5f5f5;
}

.btn:hover{
    cursor: pointer;
    color: var(--primary-dark-color);
    background: var(--primary-light-color);
    font-weight: bold;
}

.adminContainer {
    display: flex;
    width: 100vw;
    margin: 0 9rem;
}

.adminAside {
    width: 250px;
    padding: 20px;
    box-sizing: border-box;
}

.adminMain {
    flex: 1; 
    padding: 20px;
    box-sizing: border-box;
    overflow: auto; 
}