.coursesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.deleteTitle {
    font-size: 40pt;
    margin-bottom: 2rem;
}

p{
    font-size: 11pt;
    font-weight: bolder;
}

.coursesList {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
    max-width: 1200px;
}

.courseCard {
    text-align: center;
    background: var(--primary-light-color);
    color: var(--primary-dark-color);
    padding: 1rem;
    position: relative;
    border-radius: 0.5rem;
    width: 250px;
}

.deleteButton {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 5px;
    font-size: 16pt;
    font-weight: normal;
}

.deleteButton:hover {
    color: red;
    cursor: pointer;
    background-color: transparent;
}
