.inputQuestions {
    margin-right: 10px;
}


button:hover {
    background: #87c9b8;
}

.inputQuestions {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #87c9b8;
    background-color: white;
    position: relative;
    vertical-align: middle;
    transition: background-color 0.3s, border-color 0.3s;
}

.inputQuestions:checked {
    background-color: #87c9b8;
    border-color: #87c9b8;
}

.inputQuestions:checked::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
}

.inputQuestions:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(135, 201, 184, 0.5);
}