:root {
  --primary-light-color: #f5f5f5;
  /* --primary-dark-color: #ef7524; */
  --primary-dark-color: #0d3b50;
  --secondary-color:  #87c9b8;
  --input-bg-color:#f5f5f5;
  --input-txt-color: #0d3b50;
}

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/varelaround/v20/w8gdH283Tvk__Lua32TysjIfp8uP.woff2') format('woff2');
}

::placeholder{
  opacity: 0.5;
}

table {
  min-width: 700px;
}

th {
  font-weight: bolder;
}


td {
  font-size: 14px;
}

th, td {
  padding: 10px 15px 10px;
  text-align: left;
  padding: 1rem;
}

tr {
  width: 100%;
  border-bottom: var(--secondary-color) 0.5px solid;
}

.body {
  background-color: var(--primary-dark-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  color: white;
  min-height: 100vh;
  font-family: 'Varela Round';
}


.lightmode {
  background-color: white;
  color: var(--primary-dark-color);
}

.navLink {
  transition-duration: 1s;
}

.navLink:hover {
  color: var(--secondary-color);
}

.main, .loginBox, .mainLogin{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainLogin {
  gap: 5rem;
  justify-content: space-between;
  margin-left: 25rem;
  margin-top: 5rem;
}

.loginBox {
  border: var(--secondary-color) 1px solid;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.inputBox, .inputBoxes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.inputBox > label {
  font-size: large;
}

.inputBoxes {
  flex-direction: column;
  gap: 2rem;
}

.mainButton {
  color: white;
  background-color: var(--secondary-color);
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: 600;
  margin-right: 10px;
}

.mainButton:hover {
  color: var(--primary-dark-color);
  background-color: var(--primary-light-color);
  cursor: pointer;
}

.homeMain {
  min-height: 600px;
  min-width: 800px;
  border: 1px var(--secondary-color) solid;
  border-radius: 10px;
  padding: 3rem;  
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: start;
}

.hexagon {
  width: 500px; 
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#search, .input {
  border-bottom: 1px var(--secondary-color) solid;
  transition: border-bottom 0.3s ease-in-out; 
}

#search:focus, .input { 
  border-bottom: 1.5px var(--secondary-color) solid;
}

#errorMessage {
  color: red;
  height: 20px;
  bottom: 11rem;
  position: absolute;
}

#modeButton:hover{
  cursor: pointer;
}

#cy-settings-create-course-btn{
  color: white;
  background-color: var(--secondary-color);
  font-weight: 600;
  padding: 10px 15px;
  border-radius: .5rem;
}

#cy-settings-create-course-btn:hover{
  color: var(--primary-dark-color);
  background-color: var(--primary-light-color);
  cursor: pointer;
}

.spinner {
  border: 8px solid var(--primary-light-color); /* Light border */
  border-top: 8px solid var(--secondary-color); /* Color of the spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
  margin: 0 auto;
  margin-bottom: 2rem;
}



label, p {
  font-size: 12px;
}

.arrow {
  color: var(--secondary-color);
}

.arrow:hover {
  cursor: pointer;
}

.skipPages {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-right: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}