.container {
    margin: 0 auto;
}

.createUserTitle{
    font-size: 40pt;
    margin-bottom: 1rem;
    text-align: left;
}

.formGroup {
    margin-bottom: 1rem;
}

.formGroup label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.formControl {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    background: var(--input-bg-color);
    border-radius: 0.5rem;
    outline: none;
    color: var(--input-txt-color);
}

.formControl:disabled{
    background: rgba(220, 220, 220);
    cursor: not-allowed;
}

.errorMessage {
    color: #ef4444;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}


.btnSubmit {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: white;
    margin-top: .5rem;
}

.btnSubmit:hover {
    background-color: var(--primary-light-color);
    color: var(--primary-dark-color);
}

.btnSubmit:disabled {
    background-color: #d1d5db;
    cursor: not-allowed;
}